# ST-Ericsson NovaThor U8500 config fragment
# Based on https://dflund.se/~triad/krad/makefiles/ux500.mak
CONFIG_LOCALVERSION="-postmarketos-stericsson"

# Battery
CONFIG_ADC_BATTERY_HELPER=m

# Bluetooth/WiFi

CONFIG_RFKILL=m
CONFIG_RFKILL_LEDS=y
CONFIG_RFKILL_INPUT=y

# GPU
CONFIG_DMA_CMA=y
CONFIG_CMA_SIZE_MBYTES=128
CONFIG_CMA_SIZE_SEL_MBYTES=y
CONFIG_CMA_ALIGNMENT=8

# Performance
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y

# Sensors

CONFIG_IIO_ST_ACCEL_SPI_3AXIS=y
CONFIG_IIO_ST_GYRO_SPI_3AXIS=y
CONFIG_IIO_ST_MAGN_SPI_3AXIS=y
CONFIG_IIO_ST_SENSORS_SPI=y
CONFIG_IIO_ST_PRESS_SPI=y
